body {
	background-image: url('./index-background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	margin: 0;
	padding: 0;
}

#content {
	background: rgba(0, 0, 55, 0.8);
	padding: 15px;
	margin-left: 7%;
	margin-right: 7%;
	height: 100vh;
}

section {
	display: block;
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
	text-justify: inter-word;
	content: '';
	clear: both;
	display: table;
}

section p {
	color: white;
	padding: 15px;
}

#auto-header,
section,
#auto-footer {
	display: block;
}

#auto-header,
section {
	margin-bottom: 55px;
}

.headerwrapper {
	display: block;
	float: left;
	background-color: white;
	width: 80%;
	border-radius: 15px;
	padding: 15px;
	vertical-align: top;
	margin-left: 10%;
	margin-right: 10%;
	overflow: none;
}

.headerwrapper .logo {
	display: inline-block;
	vertical-align: top;
}

.headerwrapper .address {
	display: inline-block;
	float: right;
	vertical-align: top;
}

.headerwrapper .address p,
.headerwrapper .address h3 {
	padding: 0;
	margin: 0;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

footer {
	position: fixed;
	bottom: 0;
	width: 60%;
	background-color: white;

	padding: 5px;
	vertical-align: top;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 15px;
}

footer ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

footer h3 {
	text-align: center;
}

footer ul li {
	display: inline-block;
	margin: 12px;
}
