@media(max-width: 799px) {
	body {
		background-image: url('./index-background.png');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
		margin: 0;
		padding: 0;
	}

	#content {
		background: rgba(0, 100, 140, 0.8);
		padding: 15px;
		min-height: 100vh;
		border-left: 24px solid rgba(0, 20, 40, 0.8);
		border-right: 24px solid rgba(0, 20, 40, 0.8);
		outline: 16px solid rgba(0, 0, 0, 0.8);
	}

	section {
		display: block;
		margin-left: 3%;
		margin-right: 3%;
		text-align: justify;
		text-justify: inter-word;
	}

	section h1,
	section h2,
	section h3,
	section h4,
	section h5,
	section h6 {
		color: white;
	}

	section p {
		color: white;
		padding: 25px;
		margin: 0;
	}

	#auto-header,
	section,
	#auto-footer {
		display: block;
	}

	#auto-header,
	section {
		margin-bottom: 55px;
		font-size: 24px;
	}

	#auto-header img {
		text-align: center;
		vertical-align: top;
		width: 60vw; /* was 18vw */
	}

	.headerwrapper {
		display: block;
		float: left;
		background-color: white;
		width: 80%;
		border-radius: 15px;
		border-bottom-left-radius: 0px;
		padding: 15px;
		vertical-align: top;
		margin-left: 10%;
		margin-right: 10%;
		overflow: none;
	}

	.headerwrapper .logo {
		display: inline-block;
		vertical-align: top;
	}

	.headerwrapper .address {
		display: inline-block;
		float: right;
		vertical-align: top;
	}

	.headerwrapper .address p,
	.headerwrapper .address h3 {
		padding: 0;
		margin: 0;
	}

	.clearfix::after {
		content: '';
		clear: both;
		display: table;
	}

	footer {
		background-color: white;
		padding: 5px;
		vertical-align: top;
		margin-left: 3%;
		margin-right: 3%;
		border-radius: 15px;
	}

	footer p,
	footer li,
	footer h3 {

		color: black;
	}

	footer ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		text-align: center;
	}

	footer h3 {
		text-align: center;
	}

	footer ul li {
		display: inline-block;
		margin: 12px;
	}
	
	footer ul li:hover {
		filter: hue-rotate(-0.25turn);
	}

	nav {
		content: '';
		clear: both;
		display: table;

		background-color: white;
		padding-right: 35px;
		vertical-align: top;
		margin-left: 3%;
		margin-right: 3%;
		margin-top: 5px;
		margin-bottom: 5px;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;

		overflow: none;
		white-space: nowrap;
	}

	nav ul li {
		display: inline-block;
		font-size: 24px;
		padding-left: 15px;
		padding-right: 15px;
		border: 1px solid #ccc;
		margin: 0;
	}
	nav ul li:hover {
		background-color: #ccc;
	}

	section a:any-link {
		color: white;
	}

	section a:active {
		font-style: italic;
	}

	section li {
		color: white;
		padding: 15px;
	}
}
