body {
	background-image: url('./index-background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	margin: 0;
	padding: 0;
}

#content {
	background: rgba(0, 0, 55, 0.8);
	padding: 15px;
	margin-left: 7%;
	margin-right: 7%;
	/*border-radius: 100px;*/
	height: 100vh;
}

section {
	display: block;
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
	text-justify: inter-word;
}

section p {
	color: white;
	padding: 15px;
}
